body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    font-family: Arial;
}

/*estilo genetal*/
.contenido {
    width: 75%;
    margin: 10px 20px 10px 20px;
    border: 2px solid red;
    width: auto;
    height: 500px;
    padding: 5px;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/************PARTE DE VIDEO************/
.contenido .parte_video {
    background-color: lightblue;
    display:flex;
    flex-direction: column;
    width: 60%;
    gap: 15px;
    padding: 10px;
}

.contenido .parte_video .video {
    border: solid 2px purple;
    height: 250px;
}

.contenido .parte_video .descripcion {
    border: solid 2px black;
    height: 100px;
}

/************GALERIA************/
.contenido .galeria {
    background-color: lightgreen;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contenido .galeria .imagen {
    border: solid 2px lightblue;
    padding: 10px;
    margin: 10px 30px 10px 30px;
    height: 100px;

}